nav#menu ul{
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: 40px;
    left: 700px;
}
nav#menu{
    display:block;
}
nav#menu li{
    display: inline-block;
    background-color: pink;
    padding: 15px;
}
nav#menu h1{
    display: none;
}
body{
    background-color: pink;
    margin: 0px;
}
header{
    background-color: white;
    padding-top: 80px;
    padding-bottom: 40px;
    position: relative;
}
img{
    width: 30%;
    
}
nav#menu a:link{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
nav#menu a:visited{
    color: white
}
nav#menu a:hover{
    color:rgb(206, 75, 97);
    transition: all 0.5s ease
}